asgiref==3.9.1
boto3==1.40.32
botocore==1.40.32
certifi==2025.8.3
charset-normalizer==3.4.3
cloudinary==1.44.1
Django==5.2.4
django-cloudinary-storage==0.3.0
django-storages==1.14.6
got==0.0.1
gunicorn==23.0.0
idna==3.10
jmespath==1.0.1
npm==0.1.1
optional-django==0.1.0
packaging==25.0
pillow==11.3.0
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
requests==2.32.5
s3transfer==0.14.0
six==1.17.0
sqlparse==0.5.3
tzdata==2025.2
urllib3==2.5.0
whitenoise==6.10.0
